* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(187, 195, 196, 0.392);
  font-size: 20px;
}
.taula button{
  display: block;
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; 
}




main {
    flex: 1; 
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; 
 
}

.taulaDiv2 {
  
  position: relative;
  width: 80%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  overflow: auto;
  
}

.taula{
    margin-top: 40px;
    width: 90%;
    border-color: #333;
    text-align: center;
    border-collapse: collapse;
}

.taula td, .taula th {
    border: 1px solid #333;
}


.taula > tbody > tr:first-of-type {
    position: sticky;
 
    background-color: #676b6c;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
    color: #f9f9f9;
    text-transform: uppercase;
    z-index: 10;
}
.form-container {
  position: relative;
    overflow-y: auto;
    overflow-x: auto;
     background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 350px;
    max-height: 450px;
    text-align: center;
    margin-top: 30px;
    
  }

  .form-container2 {
    position: relative;
 
      background-color: #ffffff;
      border-radius: 20px;
      max-height: 50%;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 20px 30px;
      text-align: center;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      
    }
  

  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form input {
    width: 100%;
   
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
   .form-container button {
  
    border: 1px solid #000;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button{
    background-color: #676b6c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
    
  }
  
.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #ced2d2;
}
.home:hover{
  transform: scale(1.1);
  transition: all 0.6s;
}
.aukerak{
 
  display: flex;
  justify-content: space-between;
  
}

.aukerak button{
  padding: 40px;
  margin: 10px;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.aukerak button:hover{
  transition: all 0.3s;
  transform: scale(1.2);
}
.aukerak img{
  max-width: 120px;
}
.irudia{
  max-width: 250px;
  max-height: 100px;
  position: relative;

} 
.footer{
position: fixed;
bottom: 0;
width: 100%;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
background-color: #ced2d2;
justify-content: space-between;
}
.footer button, .header button{

background-color: transparent;
cursor: pointer;
align-items: stretch;
}
.footer button:hover, .header button:hover{
transform: scale(1.3);
}
.footer .irudia, .header .irudia{
width: 40px;
}

 .home {
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-height: 60%;
  text-align: center;
  font-size: 15px;

}




.koordenatua {
  position: absolute;      
  width: 20px; 
  height: 20px;
  background-color: red;     
  border-radius: 50%;       
  cursor: pointer;        
  transform: translate(-50%, -50%);  
  color: black;
  font-size: 15px;
  padding: 10px;
}

.mapaContainer {
  position: relative;
  display: flex;
  width: 95%;
  height: auto;
  overflow-x: auto; 
 
  border: 1px solid #ccc;
  margin-bottom: 150px;
}

.mapa {
  width: 1590px; /* Ajusta según necesites */
  height: 540px;
  z-index: -10;
}

.mapaI {
  position: absolute;
  top: -30px;
  width: 1590px;
  display: grid;
  grid-template-columns: repeat(159, 10px); /* 100 columnas de 20px */
  grid-template-rows: repeat(54, 10px); /* 100 filas de 20px */
 

}

.celda {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
}

.pathPoint {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);

}


.oztopo {
  background-color: transparent;
  cursor: not-allowed ;
  
}
.ibilbidea {
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.ibilbidea-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.urdina{
  background-color: transparent;
  color: #008cba;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
  transition: color 0.3s ease;

}

.urdina button{
  background-color: transparent;
  color: #008cba;
  border: none;
  cursor: pointer;

  font-size: 14px;
  margin-top: 15px;
  transition: color 0.3s ease;
}
.irudia{
  max-width: 250px;
  max-height: 100px;
  position: relative;

} 

.form-container3{
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  max-height: 60%;
  text-align: center;
}

form input , form select{
  width: 100%;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.form-container4{
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 450px;
  max-height: 60%;
  text-align: center;
  font-size: 17px;

}
.form-container4 input{
  font-size: 17px;
  padding: 7px;
}


.form-container6{
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  
  text-align: center;
  font-size: 12px;
  transform: scale(0.85);

}
.form-container6 input, .form-container6 select{
  font-size: 10px;
  padding: 4px;
}






.form-container5{
  display: block;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 450px;
  max-height: 35%;
  text-align: center;
  font-size: 17px;
  margin-top: 50px;
  overflow: auto;
  font-size: 11px;

}

.form-container5 input, .form-container5 select{
  font-size: 10px;
  padding: 7px;
  
}

.form-container5 h1{
  font-size: 17px;
}
