<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="boton_inicio" >Hasiera</title>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
  <div id="header" class="header"></div>

  <div id = "home" class = "home"></div>
 
  <div id = "aukerak" class = "aukerak">
    <form action = "./kutxatilakAdmin.html"> <button><img src="../pics/logo.png" class = "irudia"></img><h3 style="color: black;"> KUTXATILAK</h3></button></form>
   <form action = "./mapakAdmin.html"> <button > <img src="../pics/logo.png" class = "irudia"> <h3 style="color: black;">MAPAK</h3></img></button></form>
  </div>
  <div id ="footer" class="footer"></div>  
</body>
<script type="module">

import {loadFooter} from '../js/app.js';
import {loadOngiEtorria} from '../js/home.js';
import{loadHeader} from '../js/app.js';

window.addEventListener('DOMContentLoaded', () => {
    
    loadOngiEtorria();
   
});

</script>
<script src="../js/hizkuntza.js" defer></script>
</html>