<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kutxatilen kudeaketa</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js" type="module"></script>
    <script src="../js/autentikazioa.js" type="module"></script>
    <script src="../js/kutxatilakKudeatu.js" type="module"></script>
</head>
<body>
    <div class="header" id="header"></div>
<h1>Kutxatilen kudeaketa</h1>
<button id = "newButton" > Kutxatila berria sortu</button>
<div class = "form-container"  id = "berria" hidden>
    <form id = "berriaForm">
        <br> Kutxatilaren kodea<input type = "text" id = "kodea" placeholder = "P1M7A001,..." required></input>
        Kutxatilaren kokapena
        <select id="kokapena">
            <option value="M">M</option>
            <option value="A">A</option>
            <option value="I">I</option>
            <option value="B">B</option>
            <option value="G">G</option>
            <option value="C">C</option>
        </select>
        Kutxatilaren erabilera tartearen hasiera<input type = "time" id = "start_time"   required></input>
        Kutxatilaren erabilera tartearen amaiera<input type = "time" id = "end_time" required></input>
        <br> <button type = "submit" id = "kutxatilaSortu">Sortu</button>
    </form>
</div>
    <div id = "kutxatilak" class = "taulaDiv2"></div>

    <div class="footer" id="footer"></div>
</body>
</html>