<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="kk">Kutxatilen kudeaketa</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/hizkuntza.js" type="module"></script>
     <script src="../js/autentikazioa.js" type="module"></script>
</head>
<body>
    <div class="header" id="header"></div>
<h1 data-i18n="kk">Kutxatilen kudeaketa</h1>
<button id = "newButton" data-i18n="kbs" style="margin-top: 5px;"> Kutxatila berria sortu</button>
<div class = "form-container6"  id = "berria" hidden>
    <form id = "berriaForm">
        <br> <p data-i18n="kkod" >Kutxatilaren kodea</p><input type = "text" id = "kodea" placeholder = "P1M7A001,..." required></input>
        <p data-i18n="kko" >Kutxatilaren kokapena </p>   
        <select id="kokapena">
            <option value="M">M</option>
            <option value="A">A</option>
            <option value="I">I</option>
            <option value="B">B</option>
            <option value="G">G</option>
            <option value="C">C</option>
        </select>
        <p data-i18n="keth" > Kutxatilaren erabilera tartearen hasiera</p><input type = "time" id = "start_time"   required></input>
        <p data-i18n="keth2" > Kutxatilaren erabilera tartearen amaiera</p><input type = "time" id = "end_time" required></input>
       <button type = "submit" id = "kutxatilaSortu" data-i18n="s" >Sortu</button>
    </form>
</div>
    <div id = "kutxatilak" class = "taulaDiv2" style="transform: scale(1);"></div>
    <script type = "module">
        import {loadKutxatilak, kutxatilaSortu} from '../js/kutxatilakKudeatu.js';
        import{loadFooter, loadHeader} from '../js/app.js';
        window.addEventListener('DOMContentLoaded', () => {
            loadKutxatilak();
        });
        const toggle = document.getElementById('newButton');
        toggle.addEventListener('click', () => {
        document.getElementById('berria').hidden = !document.getElementById('berria').hidden;
        document.getElementById('kutxatilak').style.transform === 'scale(1)' ? document.getElementById('kutxatilak').style.transform = 'scale(0.75)' : document.getElementById('kutxatilak').style.transform = 'scale(1)';
    
    });
        document.getElementById('berriaForm').addEventListener('submit', (event) => {
        kutxatilaSortu(event);
    });
    </script>
    <div class="footer" id="footer"></div>
</body>
</html>