<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maparen kudeaketa</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js" type="module"></script>
    <script src="../js/autentikazioa.js" type="module"></script>
    <script src="../js/mapakKudeatu.js" type="module"></script>
</head>
<body>
    <div class="header"id = "header"></div>
    <div class="footer" id="footer"></div>
</div>
<div id = "berriaForm"class="form-container2" >
    <h1>Gela berria gehitu</h1>
    <form id="berria">
        
        <select id = "eraikina">
            <option value = "I" >I</option>

        </select>
        <select id = "solairua">
            <option value="6">6</option>
        </select>
        <select  id="mota">
            <option value="ikasgela">ikasgela</option>
            <option value="bulegoa">bulegoa</option>
            <option value="komuna">komuna</option>
            <option value="igogailua">igogailua</option>
            <option value="kafetegia">kafetegia</option>
            <option value="eskailerak">eskailerak</option>
            <option value="beste batzuk">beste batzuk</option>
        </select>
        <input type="text" id="kodea" placeholder="kodea"></input>
       Kokapena<input type="text" id="kokapena" placeholder="aukeratu mapan"></input>
        <button type="submit" > Sortu</button>
    </form>
   
</div>
<div  class = "mapaContainer" id="mapaContainer">
   <img  id = "mapa" src="../pics/p6.png" class="mapa"></img>
   <div id = "ibilbidea" class = "mapaI"></div>
   <div id = "botoiak"></div>

    
</div>
</body>

</html>
