<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maparen kudeaketa</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js" type="module"></script>
    <script src="../js/autentikazioa.js" type="module"></script>
    <script src="../js/mapakKudeatu.js" type="module"></script>
</head>
<body>
    <div class="header"id = "header"></div>
    <div class="footer" id="footer"></div>
</body>

</html>