<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maparen kudeaketa</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js" type="module"></script>
    <script src="../js/autentikazioa.js" type="module"></script>
    <script src="../js/mapakKudeatu.js" type="module"></script>
    <script src="../js/hizkuntza.js" type="module"></script>
    
</head>

<body>
    <div class="header"id = "header"></div>
    <div class="footer" id="footer"></div>
</div>
<div id = "berriaForm"class="form-container5" >
    <h1 h1 data-i18n="gbg">Gela berria gehitu</h1>
    <form id="berria">
        
        <select id = "eraikina">
            <option value="0" h1 data-i18n="eraikina">Eraikina</option>
            <option value = "I" >I</option>

        </select>
        <select id = "solairua">
            <option value="0 "data-i18n="solairua">Solairua</option>
            <option value="6">6</option>
        </select>
        <select  id="mota">
            <option value="0" h1 data-i18n="gm">Gela mota</option>
            <option value="ikasgela" data-i18n="ikasgela">ikasgela</option>
            <option value="bulegoa" data-i18n="bulegoa">bulegoa</option>
            <option value="komuna" data-i18n="komuna">komuna</option>
            <option value="igogailua" data-i18n="igogailua">igogailua</option>
            <option value="kafetegia" data-i18n="kafetegia">kafetegia</option>
            <option value="eskailerak" data-i18n="eskailerak">eskailerak</option>
            <option value="beste batzuk" data-i18n="bestebatzuk">beste batzuk</option>
            
        </select>
        <input type="text" id="kodea" placeholder="kodea" data-i18n-placeholder="c"></input>
      <input type="text" id="kokapena" placeholder="Kokapena - Aukeratu mapan" data-i18n-placeholder="kokapena"></input>
        <button type="submit" data-i18n="s" > Sortu</button>

    </form>
   
</div>
<div  class = "mapaContainer" id="mapaContainer">
   <img  id = "mapa" src="../pics/p6.png" class="mapa"></img>
   <div id = "ibilbidea" class = "mapaI"></div>
   <div id = "botoiak"></div>

    
</div>
</body>

</html>
