<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="pk" >Profilaren kudeaketa</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js" type="module"></script>
    <script src="../js/autentikazioa.js" type="module"></script>
    <script src="../js/profila.js" type="module"></script>
    <script src="../js/hizkuntza.js" defer></script>

</head>
<body>
    <div id="header" class="header"></div>
    <div id = "container" class = "home" style="margin-bottom:20px;">
        <div id = "profila" >
        <img src="../pics/profila.svg"></img> 
    </div>
    <div id = "form" hidden>
        <form id ="pasahitzaForm" >
            <h1  data-i18n="contra">Pasahitza aldatu</h1>
            <input type = "password" id = "pasahitza" data-i18n="contra" name = "pasahitza"    data-i18n-placeholder="pb"  required placeholder="pasahitza berria" > </input>
            <button type = "submit" id = "pasahitzaAldatu" data-i18n="cambiar">Aldatu</button>
        </form>
    </div>
    </div>
    <table>
        <tr>
            <td>
                <button id = "profilaEditatu" data-i18n="pa">Pasahitza aldatu</button>
            </td>
            <td>
                <button id = "profilaEzabatu" data-i18n="ke">Kontua ezabatu</button>
            </td>
            <td>
                <button id = "profilaLogout" data-i18n="ki">Saioa itxi</button>
        </tr>
    </table>

<div id = "footer" class="footer"></div>

</body>

</html>