<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="erabk">Erabiltzaileen kudeaketa</title>
    <script src = "../js/app.js" type="module"></script>
    <script src = "../js/userAskoKudeatu.js" type="module"></script>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/hizkuntza.js" type="module"></script>
</head>

<body>
    <div class="header" id = "header"></div>
    <h1 data-i18n="erabk">Erabiltzaileen kudeaketa</h1>
    <div class="footer" id="footer"></div>
    <div id="userDiv"class="taulaDiv"></div>
</body>
</html>