<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="erabk">Erabiltzaileen kudeaketa</title>
    <script src = "../js/app.js" type="module"></script>
    <script src = "../js/userAskoKudeatu.js" type="module"></script>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/hizkuntza.js" type="module"></script>
     <script src="../js/autentikazioa.js" type="module"></script>
</head>

<body>
    <div class="header" id = "header"></div>
    <h1 data-i18n="erabk" style="margin-top: 50px;"></h1>
    <button id="berria"data-i18n="erabBerria"></button>
    <div class="form-container2" id="berriaDiv" style="display:none;">
        <form id="berriaForm">
           
            <input type="text" id="erabiltzailea" name="erabiltzailea" data-i18n-placeholder="ERABILTZAILEA" required>
            <input type="password" data-i18n-placeholder="PASAHITZA" id="pasahitza" name="pasahitza" required>
            <input type="mail" data-i18n-placeholder="POSTA" id="posta" name="posta" required>
            <select id="rola" name="rola" required>
                <option value="" disabled selected data-i18n="aukera"></option>
                <option value="user" data-i18n="erabiltzailea"></option>
                <option value="admin" data-i18n="administraria"></option>
            </select>
            <button type="submit" data-i18n="s"></button>
        </form>
    </div>
    <div class="footer" id="footer"></div>
    <div id="userDiv"class="taulaDiv" style="overflow: auto; transform: scale(1); margin-bottom:100px;"></div>
</body>
</html>